@page
@model FishermanMarket.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link rel="stylesheet" href="/css/BodyColor.css" />
}
<div class="row">
    <div class="col-md-4 offset-md-5 mb-5">
        <form method="post" asp-page-handler="Report">
            <button class="btn btn-warning">Репорт</button>
        </form>
    </div>
    
</div>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Детайли</th>
            <th scope="col">Име</th>
            <th scope="col">Телефон</th>
            <th scope="col">Имейл</th>
            <th scope="col">Адрес за доставка</th>
            <th scope="col">Дата на поръчка</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <th scope="row"><a asp-page="/Orders/Details" title="Виж" asp-route-id="@item.Id" class="btn btn-link"><i class="fas fa-search fa-lg"></i></a></th>
                <td>@(item.FirstName + " " + item.LastName)</td>
                <td>@item.PhoneNumber</td>
                <td>@item.User.Email</td>
                <td>@item.DeliveryAddres</td>
                <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Status</td>
                <td>
                    @if ((User.IsInRole("Admin") || User.IsInRole("OrdersSender")) && item.Status != "Изпратена")
                    {
                        <form method="post" asp-page-handler="ChangeStatus" asp-route-id="@item.Id">
                            <button class="btn btn-primary">Изпрати поръчка</button>
                        </form>
                    }
                    @if (!User.IsInRole("Admin") && !User.IsInRole("OrdersSender"))
                    {
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success mb-2">Редактирай</a>
                        if (item.Status != "Изпратена")
                        {
                            <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                                <button class="btn btn-danger">Откажи</button>
                            </form>
                        }
                    }
                    
                </td>
            </tr>
        }
        
    </tbody>
</table>

@section Scripts{
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}
