@model BestResultFormModel

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form method="post" asp-area="Admin" enctype="multipart/form-data">
            <div class="text-danger">
                @Html.ValidationMessage("Already")
            </div>
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>@ViewBag.Title</h2>
            </div>
            @if (ViewBag.ButtonName == "Edit")
            {
                @if (Model.Photos.Count > 0)
                {
                    <div>
                        <div class="form-group">
                            <a class="text-dark" id="edit-image">Edit old photos</a>
                        </div>
                        <div class="img-editor form-group display-none">
                            <partial name="_EditPhotosPartial" model="Model.Photos" />
                        </div>
                    </div>

                }
            }
            <div class="form-group">
                <label asp-for=BeforeFiles>Photos Before<span @(ViewBag.ButtonName == "Edit" ? "hidden" : string.Empty) class="text-danger">*</span></label>
                <input asp-for="BeforeFiles" class="form-control" type="file" multiple>
                <span asp-validation-for="BeforeFiles" class="small text-danger"></span>
                <div class="text-danger">
                    @Html.ValidationMessage("BFiles")
                </div>
            </div>
            <div class="form-group">
                <label asp-for=AfterFiles>Photos After<span @(ViewBag.ButtonName == "Edit" ? "hidden" : string.Empty) class="text-danger">*</span></label>
                <input asp-for="AfterFiles" class="form-control" type="file" multiple>
                <span asp-validation-for="AfterFiles" class="small text-danger"></span>
                <div class="text-danger">
                    @Html.ValidationMessage("AFiles")
                </div>
            </div>
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for=Story>Story<span class="text-danger">*</span></label>
                <textarea rows="3" asp-for="Story" class="form-control" placeholder="George started my program..."></textarea>
                <span asp-validation-for="Story" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">@ViewBag.ButtonName</button>
        </form>
    </div>

</div>