@model PartnerFormModel

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form method="post" asp-area="Admin" enctype="multipart/form-data">
            <div class="text-danger">
                @Html.ValidationMessage("Already")
            </div>
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="form-group">
                <label asp-for=Name>Name<span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="Above the rest...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Description>Description<span class="text-danger">*</span></label>
                <textarea rows="3" asp-for="Description" class="form-control" placeholder="We are the coollest brand..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            @if (ViewBag.ButtonName == "Edit")
            {
                @if (Model.PartnerPhoto != null)
                {
                    <div>
                        <div class="form-group">
                            <a class="text-dark" id="edit-image">Edit old photo</a>
                        </div>
                        <div class="img-editor form-group display-none">
                            <partial name="_EditPartnerPhotoPartial" model="Model.PartnerPhoto" />
                        </div>
                    </div>

                }
            }
            <div class="form-group">
                <label asp-for=File>Photo<span @(ViewBag.ButtonName == "Edit"? "hidden":string.Empty) class="text-danger">*</span></label>
                <input asp-for="File" class="form-control" type="file">
                <span asp-validation-for="File" class="small text-danger"></span>
                @if (ViewBag.ButtonName == "Edit")
                {
                    
                    <div class="text-danger">
                        @Html.ValidationMessage("File")
                    </div>

                }
            </div>
            <div class="form-group">
                <label asp-for=Url>Site URL<span class="text-danger">*</span></label>
                <input asp-for="Url" class="form-control" placeholder="https://softuni...">
                <span asp-validation-for="Url" class="small text-danger"></span>
            </div>
            <input type="hidden" asp-for="RowVersion"/>
            <div class="form-group">
                <label asp-for=PromoCode>Promo code<span class="text-danger">*</span></label>
                <input asp-for="PromoCode" class="form-control" placeholder="Summer20...">
                <span asp-validation-for="PromoCode" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">@ViewBag.ButtonName</button>
        </form>
    </div>
</div>
