@model QueryModelParts

@section Styles{
    <link rel="stylesheet" href="~/css/PartsIndex.css" />
}

@{
    var prevPage = Model.CurrentPage - 1;
    if (prevPage < 1)
    {
        prevPage = 1;
    }
    var nextPage = Model.CurrentPage + 1;
    if (nextPage > Model.LastPage)
    {
        nextPage = Model.LastPage;
    }
}

<div class="row">
    <div class="row mt-3">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Search" for="search">Търсене:</label>
                        <input asp-for="Search" type="text" class="form-control" id="search" placeholder="Въведете търсене">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Sorting" for="sort">Сортиране:</label>
                        <select asp-for="Sorting" class="form-control" id="sort">
                            <option value="0" selected>----------</option>
                            <option value="1">Цена: от ниска към висока</option>
                            <option value="2">Цена: от висока към ниска</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Filter" for="filter">Филтриране:</label>
                        <select asp-for="Filter" class="form-control" id="filter">
                            <option value="0">----------</option>
                            <option value="1">Спирачна система</option>
                            <option value="2">Окачване</option>
                            <option value="3">Части за двигател</option>
                            <option value="4">Кормилна система</option>
                            <option value="5">Части за цилиндров блок</option>
                            <option value="6">Гарнитури</option>
                            <option value="7">Датчици и сенозри</option>
                            <option value="8">Горивна система</option>
                            <option value="9">Ауспуси и гърнета</option>
                            <option value="10">Тунинг</option>
                            <option value="11">Стартова система</option>
                            <option value="12">Светлини</option>
                            <option value="13">Автоаксесоари</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3 button-wrapper">
                <button class="btn btn-primary">Търсене</button>
            </div>
        </form>
    </div>

</div>

@if (Model.Parts.Count == 0)
{
    <h1 class="text-light text-center">Няма части по зададените критерии</h1>
}
else
{
    <div class="row">
        @for (int i = 0; i < Model.Parts.Count; i++)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="@String.Format("data:image/gif;base64,{0}", Model.Parts[i].Image)" alt="Image">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Parts[i].Name</h3>
                        <h4 class="card-title">@Model.Parts[i].Condition</h4>
                        <h4 class="card-title">Цена: @Model.Parts[i].Price лв.</h4>
                        <a title="Детайли" asp-controller="Parts" asp-action="Details" asp-route-partId="@Model.Parts[i].Id" class="btn btn-primary">Детайли</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <div class="pagination">
            <a class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Parts"
           asp-action="Index"
           asp-route-currentPage="@prevPage"
           asp-route-search="@Model.Search"
           asp-route-sorting="@Model.Sorting"
           asp-route-filter="@Model.Filter">
                <svg viewBox="0 0 10 10">
                    <path d="M7,2 L3,5 L7,8" fill="none" stroke="currentColor" stroke-width="1.5" />
                </svg>
            </a>
            <span class="pagination-info">Страница @Model.CurrentPage от @Model.LastPage</span>
            <a class="@(Model.CurrentPage == Model.LastPage ? "disabled" : string.Empty)"
           asp-controller="Parts"
           asp-action="Index"
           asp-route-currentPage="@nextPage"
           asp-route-search="@Model.Search"
           asp-route-sorting="@Model.Sorting"
           asp-route-filter="@Model.Filter">
                <svg viewBox="0 0 10 10">
                    <path d="M3,2 L7,5 L3,8" fill="none" stroke="currentColor" stroke-width="1.5" />
                </svg>
            </a>
        </div>
    </div>

}
