@using System.Text;
@using static CarPartsShop.NoImage;
@model Cart

@section Styles{
    <link rel="stylesheet" href="~/css/cart.css"/>
}

@if(Model == null || Model.Parts.Count < 1)
{
    <h1 class="text-light text-center">Количката е празна</h1>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Продукт</th>
                                    <th scope="col" width="120">Брой</th>
                                    <th scope="col" width="120">Ед. Цена</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody class="products">
                                @foreach (var product in Model.Parts)
                                {
                                    <tr part-id="@product.Part.Id">
                                        <td>
                                            <figure class="itemside align-items-center">
                                                @if (product.Part.PartImages.Count > 0)
                                                {
                                                    <div class="aside"><img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(product.Part.PartImages.First().Bytes))" alt="Image" class="img-sm"></div>
                                                }
                                                else{
                                                    <div class="aside"><img src="@String.Format("data:image/gif;base64,{0}", NoImageString)" alt="Image" class="img-sm"></div>
                                                }
                                                <figcaption class="info">
                                                    <p class="title text-light" data-abc="true">@product.Part.Name</p>
                                                    <p class="small text-light">Състояние: @product.Part.PartCondtion.Condition <br> Тип: @product.Part.PartType.Type</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <input type="number" part-id="@product.Part.Id" class="form-control count-el" value="@product.Count" />
                                        </td>
                                        <td>
                                            <div class="price-wrap"> <var class="price text-light">@product.Part.PartPrice лв.</var></div>
                                        </td>
                                        <td class="text-right d-none d-md-block"><a asp-controller="Parts" asp-action="Details" asp-route-partId="@product.Part.Id" class="btn btn-success">Виж продукт</a><a part-id="@product.Part.Id" class="btn btn-danger remove-btn">Премахни</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Общо:</dt>
                            <dd class="text-right text-light b ml-3"><strong id="total-price">@Model.Parts.Sum(x=> x.Part.PartPrice * x.Count) лв.</strong></dd>
                        </dl>
                        <hr> <a asp-controller="Orders" asp-action="OrderInfo" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Поръчай </a> <a asp-controller="Parts" asp-action="Index" class="btn btn-out btn-success btn-square btn-main mt-2">Продължи да пазаруваш</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/EditCart.js"></script>
    <script src="~/js/RemoveProductFromCart.js"></script>
    <script src="~/js/UpdateCartCount.js"></script>
}

